<!-- start menubar -->
<div class="nav-float">
  <div class="container">
    <div class="row">
      <ul class="nav navbar-nav">
        <div class="col-md-3">
          <li><%= link_to 'HOME', root_path%></li>
        </div>
        <div class="col-md-3">
          <li><%= link_to 'PROJECTS', pages_projects_path%></li>
        </div>
        <div class="col-md-3">
          <li><a href="<%= asset_path 'http://res.cloudinary.com/db1gzh1cu/image/upload/v1494287361/Patrick_Abadilla_Resume_May_2017_dbyh9t.pdf' %>  " target="_blank" download>RESUME</a></li>
        </div>
        <div class="col-md-3">
          <li><%= link_to 'CONTACT', pages_contact_path%></li>
        </div>
      </ul>
    </div>
  </div>
</div>
<!--end menu bar-->
