<!-- start menubar -->
<%= render '/partials/nav_white' %>
<!--end menu bar-->

<!-- start projectheader -->
<div class="container red-bg">
  <div class="row project-section">
    <h2 class="section-header">PROJECT NAME</h2>

  </div>
</div>
<!-- end project header -->
<!-- start project info -->
<div class="container white-bg">
  <div class="row project-section">
    <h2 class="section-header">fun</h2>

  </div>
</div>
<!-- end project info -->
<!-- start hire-me -->
<a href="#">
<div class="container hire-style">
  <div class="row small-section-style">
    <h3>Interested in my work?</h3>
    <h2>CONTACT ME</h2>
  </div>
</div>
</a>
<!-- end hire-me -->
