<!-- start menubar -->
<div class="nav-float">
  <div class="container">
    <div class="row">
      <ul class="nav navbar-nav">
        <div class="col-md-3">
          <li><%= link_to 'HOME', root_path, class: "text-dark"%></li>
        </div>
        <div class="col-md-3">
          <li><%= link_to 'PROJECTS', pages_projects_path, class: "text-dark"%></li>
        </div>
        <div class="col-md-3">
          <li><%= link_to 'CONTACT', pages_contact_path, class: "text-dark"%></li>
        </div>
        <div class="col-md-3">
          <li><%= link_to 'FUN', pages_fun_path, class: "text-dark active"%></li>
        </div>
      </ul>
    </div>
  </div>
</div>
<!--end menu bar-->
<!-- start projectheader -->
<div class="container grey-bg">
  <div class="row project-section">
    <h2 class="section-header">PROJECT NAME</h2>

  </div>
</div>
<!-- end project header -->
<!-- start project info -->
<div class="container white-bg">
  <div class="row project-section">
    <h2 class="section-header">fun</h2>

  </div>
</div>
<!-- end project info -->
<!-- start hire-me -->
<a href="#">
<div class="container hire-style">
  <div class="row small-section-style">
    <h3>Interested in my work?</h3>
    <h2>CONTACT ME</h2>
  </div>
</div>
</a>
<!-- end hire-me -->
