@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:300,400,500');

// font-family: 'Roboto', sans-serif;
// font-family: 'Lato', sans-serif;

$primary-color: #111517;
$white-color: #ffffff;
$accent-color: #EC0A30;
$grey-color: #F5F5F5;

body {
  background-color: $primary-color;
  color: white;
  font-family: 'Lato', sans-serif;
}

header {
  // height: 100vh;
}

h1 {
  font-size: 108px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

p {
  font-size: 20px;
}

a {
  color: white;
  background-color: transparent;
}

a:hover, a:focus {
  color: $accent-color;
  text-decoration: none;
  background-color: transparent;
}

.container {
  margin: 0px;
  border: 0px;
  width: 100%;
}

.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar {
  background-color: transparent;
  border: none;
  margin: 50px;
}

.navbar-nav {
  margin: auto;
  display: inline-block;
  float: none;
  list-style-type: none;
  padding: 20px 30px;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.banner-style {
  padding: 45vh 0em;
}

.banner-margin {
  margin-top: -20vh;
}

.red-line {
  background-color: $accent-color;
  width: 6px;
  height: 260px;
  padding: 0px;
  margin: 0 8px;
  border: 0px;
  float: left;
}

.banner-text {
  width: 49%;
}

// .banner-para-style {
//   text-align: right;
//   width: 15px;
// }

.align-left{
  text-align: left;
}

.align-right {
  text-align: right;
}

.section-style {
  padding: 15em 10em;
  text-align: center;
}

.small-section-style {
  padding: 15em 10em;
  text-align: center;
}

.white-bg {
  background-color: $white-color;
  color: $primary-color;
}

.grey-bg {
  background-color: $grey-color;
  color: $primary-color;
}

.dark-bg {
  background-color: $primary-color;
  color: $white-color;
}

.red-bg {
  background-color: $accent-color;
  color: $white-color;
}

.icon {
  width: 60px;
  height: 60px;
  margin: 0 3vw;
}
