<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
    <script src="https://use.fontawesome.com/9097c39520.js"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>

<body>

  <%= yield %>
  <!-- start social-media -->
  <div class="container dark-bg ">
    <div class="row small-section-style">
      <div class="col-md-1"></div>
      <div class="col-md-2"><a href="https://github.com/abazilla"><i class="fa fa-github-alt fa-5x"></i></a></div>
      <div class="col-md-2"><a href="https://www.linkedin.com/in/patrick-abadilla-9a6a1a67/"><i class="fa fa-linkedin fa-5x"></i></a></div>
      <div class="col-md-2"><a href="mailto:patrick.abadilla2@gmail.com"><i class="fa fa-envelope fa-5x"></i></a></div>
      <div class="col-md-2"><a href="https://www.instagram.com/aba_gram/"><i class="fa fa-instagram fa-5x"></i></a></div>
      <div class="col-md-2"><a href="https://twitter.com/pna_23"><i class="fa fa-twitter fa-5x"></i></a></div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <!-- end social-media -->
</body>
</html>
